header.header#header 
    .header__container.container
        .header__wrapper 
            .header__inner.header__inner--logo
                a(href="/").header__logo 
                    img(src="/svg/logo.svg", alt="")
            .header__inner.header__inner--btn
                button(type="button").header__menu-btn Меню
    .header__full
        .header__container.container
            .header__inner.header__inner--menu-btn
                button(type="button").header__menu-btn
                    span Закрыть
            .header__inner.header__inner--picture
                .header__picture 
                    img(src="/images/el-header-pic.jpg", alt="")
            .header__inner.header__inner--nav
                .header__full-logo 
                    img(src="/svg/logo-white.svg", alt="")
                    p Ферма по выращиванию спаржи
                .header__h-nav.h-nav
                    .h-nav__wrapper 
                        ul.h-nav__list 
                            li.h-nav__item.active 
                                a(href="/").h-nav__link Главная
                            li.h-nav__item 
                                a(href="/our-farm.html").h-nav__link НАША ФЕРМА
                            li.h-nav__item 
                                a(href="/for-clients.html").h-nav__link ДЛЯ КЛИЕНТОВ
                            li.h-nav__item 
                                a(href="/catalog.html").h-nav__link КАТАЛОГ
                            li.h-nav__item 
                                a(href="/seedlings.html").h-nav__link САЖЕНЦЫ
                            li.h-nav__item 
                                a(href="/how-cook.html").h-nav__link КАК ГОТОВИТЬ
                            li.h-nav__item 
                                a(href="/buy.html").h-nav__link ГДЕ КУПИТЬ
                            li.h-nav__item 
                                a(href="/contacts.html").h-nav__link КОНТАКТЫ
                .header__contacts 
                    a(href="#").header__phone +7 925 555 05 55
                    a(href="#").header__email sparzhino@yandex.ru 
                    button(type="button").header__btn.btn.btn--bg Оформить заказ
                    .header__contacts-socials 
                        a(href="#") 
                            img(src="/svg/ico-vk.svg", alt="")
                            span Вконтакте
                        a(href="#") 
                            img(src="/svg/ico-tg.svg", alt="")
                            span Telegram
                        a(href="#") 
                            img(src="/svg/ico-whatsapp.svg", alt="")
                            span Whatsapp