footer.footer#footer
    .footer__bg
        .footer__container.container
            .footer__wrapper 
                .footer__corners
                .footer__inner.footer__inner--logo
                    .footer__logo 
                        .footer__logo-picture
                            img(src="/svg/logo-white.svg" alt="")
                        .footer__logo-text Ферма по выращиванию спаржи
                .footer__inner.footer__inner--links
                    .footer__nav-wrap 
                        a(href="").footer__nav-link Где купить
                        a(href="").footer__nav-link Наша ферма
                        a(href="").footer__nav-link Для клиентов
                        a(href="").footer__nav-link Саженцы
                    .footer__nav-wrap
                        a(href="").footer__nav-link Каталог
                        a(href="").footer__nav-link О нас
                        a(href="").footer__nav-link Как готовить
                        a(href="").footer__nav-link Контакты
                .footer__inner.footer__inner--contacts
                    .footer__contacts-wrap 
                        a(href="tel:").footer__contacts-phone +7 925 555 05 55
                        a(href="tel:").footer__contacts-email sparzhino@yandex.ru 
                        button(type="button").footer__btn.btn.btn--bg Обратный звонок
                .footer__inner.footer__inner--social-media
                    .footer__socials 
                        .footer__label Соцсети
                        a(href="#").footer__social-link
                            span Вконтакте
                            img(src="/svg/ico-vk.svg" alt="") 
                        a(href="#").footer__social-link
                            span Telegram
                            img(src="/svg/ico-tg.svg" alt="") 
                        a(href="#").footer__social-link
                            span Whatsapp
                            img(src="/svg/ico-whatsapp.svg" alt="")  
                .footer__inner.footer__inner--cop
                    .footer__cop-wrapper
                        .footer__cop-inner 
                            span ©2024. Все права защищены
                        .footer__cop-inner 
                            a(href="#") Политика конфиденциальности
                        .footer__cop-inner.footer__cop-inner--dev 
                            span Сделано в
                            a(href="#")  
                                img(src="/images/dev-logo.png" alt="") 